# Bibliotecas

In [ ]:

import numpy as np
import pandas as pd 
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

#  <a name="indice">  Índice </a>

* [1.0 Objetivo.](#secao_1.0)
* [2.0 Primeiro corte dos dados.](#secao_2.0)
  * [2.1 Importando os dados.](#secao_2.1)

* [3.0 Exclusão de dados.](#secao_3.0)
 
  * [3.1 Primeira exclusão de dados.](#secao_3.1)
  * [3.2 Segunda exclusão de dados.](#secao_3.2)
  * [3.3 Terceira exclusão de dados.](#secao_3.3)
  * [3.4  Quanto exclusão de dados.](#secao_3.4)   
  * [3.5 Quinta exclusão de dados.](#secao_3.5)

* [4.0  Remapeamento das classes.](#secao_4.0)
  * [4.1 Cor/raça.](#secao_4.1)
  * [4.2 Renda familiar.](#secao_4.2) 
  * [4.3 Escolariade dos país.](#secao_4.3) 
  * [4.4 Computador e internet.](#secao_4.4) 
  * [4.5 Nota média.](#secao_4.5) 

* [5.0  Salvando os novos dados.](#secao_5.0)

# <a name="secao_1.0"> 1. Objetivo </a>.

* Essa parte será responsável em formatar o conjunto de dados dos metadados do enem. No caso será excluído todas as informações que serão julgadas irrelevantes e será feito um tratamento inicial do conjunto de dados.

# <a name="secao_2.0"> 2. Primeiro corte de dados </a>.

* As variáveis dos metadados do Enem existem informações que estão sendo representada mais de uma vez.
 
 * No caso, são aquelas que identificam algum tipo de lugar, como a cidade que a pessoa fez a prova ou onde ela nasceu por exemplo.
 * Essas informações geralmente estão sendo representadas através da Sigla do município, o seu nome ou um código que o representa. 

 
* Existem algumas variáveis que indicam o código da provas, no caso se ela é roxa, azul etc. Estes dados também serão excluídos.
 
* Em relação ao questionário de perguntas serão descartadas aqueles que não geraria nenhum impacto nas analises ou que possam ser representadas de uma forma por outras.
 
* Os dados presentes nas perguntas 'Q007', 'Q008', 'Q009', 'Q010', 'Q011',   'Q012', 'Q013', 'Q014', 'Q015', 'Q016', 'Q017', 'Q018', 'Q019', 'Q020', 'Q021', 'Q022','Q023' e 'Q024' são fatores que esta correlacionada diretamente com a sua renda que esta representada pela variável Q006. Por esse motivo os dados dessas perguntas serão excluídas.
 * O uso da internet não será descartado porque ela pode ser utilizada como método de auxilio ao estudo.
 * 'Q03' e 'Q04' são opções que indicam a profissão das pessoas, elas estão relacionadas com trabalhos dos pais das pessoas, estas informações foram julgadas como redundante para o trabalho.
 
* Os dados Q024 e Q025 são ferramentas utilizadas que podem ser utilizadas para auxiliar no estudo do aluno, por isso elas não serão descartadas.
 
 
* Outras variáveis também serão descartas
 * NU_ANO: Esta variável foi descartada porque ela indica uma unica informação.
 *NO_MUNICIPIO_NASCIMENTO: ela indica onde a pessoa nasceu, tão dado não implica em nenhum fator social devido que a pessoa possa ter mudado.
 *TP_LINGUA: indica a lingua da prova estrangeira que a pessoa fez.
 *TP_NACIONALIDADE: Indica se a pessoa é de outro país que esta fazendo a prova.
 *TP_SIT_FUNC_ESC: esse dado indica a sintuação da escola.
 
* Os dados dos pedidos de recursos especializados e específicos para realização das provas, pedidos de atedimeto especíco e especializado também seram exluidos, porque foi decidido não aborda esses temas no trabalho.

In [ ]:
# Colunas que serão cortadas 
Columns = ['TP_SEXO'                    ,
           'TP_COR_RACA'           ,'TP_ST_CONCLUSAO'            ,'TP_ANO_CONCLUIU',
           'IN_TREINEIRO'          ,'TP_DEPENDENCIA_ADM_ESC'     ,   
           'CO_ESCOLA'             ,
           'TP_PRESENCA_CN'        ,'TP_PRESENCA_CH'             ,'TP_PRESENCA_LC',
           'TP_PRESENCA_MT'        ,'NU_NOTA_CN','NU_NOTA_CH'    ,'NU_NOTA_LC',
           'NU_NOTA_MT'            ,'TP_STATUS_REDACAO'          ,'NU_NOTA_REDACAO',
           'Q001'                  ,'Q002'                        ,'Q005',
           'Q006'                  ,'Q025'                        ,'NO_MUNICIPIO_ESC',
           'CO_UF_ESC'             ,'SG_UF_ESC'                   , 'Q024']

### <a name="secao_2.1"> 2.1 Importando os dados </a>.

* O dados foram importandos sem as colunas descritas

In [ ]:
df1 = pd.read_csv('/content/drive/My Drive/desafio semantix/MICRODADOS_ENEM_2019.csv',sep=';' ,encoding='iso-8859-1',usecols=Columns)

In [ ]:
df1.shape # tamanho do dataset

(5095270, 26)

In [ ]:
df1.head(5)

  TP_SEXO  TP_COR_RACA  TP_ST_CONCLUSAO  TP_ANO_CONCLUIU  ...  Q005  Q006 Q024  Q025
0       M            3                1               11  ...     2     A    C     B
1       M            1                1                5  ...     4     C    A     B
2       F            3                1               13  ...     2     B    A     B
3       F            1                1                4  ...     4     E    B     B
4       F            1                1                4  ...     3     G    B     B

[5 rows x 26 columns]

# <a name="secao_3.0"> 3. Exclusão de dados </a>.

### <a name="secao_3.1"> 3.1 Primeira exclusão de dados </a>.

* Objetivo deste trabalho é avaliar como fatores sociais e econômicos influenciam nas notas dos candidatos do enem. Por esse motivo será excluído todos os candidatos que faltaram a alguma prova.

In [ ]:
print('Porcetagem de escritos que foram fazer todas as prova:', np.sum((df1['TP_PRESENCA_CN'] == 1) & (df1['TP_PRESENCA_CH'] == 1)  & 
    (df1['TP_PRESENCA_LC'] == 1) & (df1['TP_PRESENCA_MT'] == 1) & (df1['TP_STATUS_REDACAO'] == 1))/df1.shape[0])

Quantidade de pessoas que foram fazer todas as prova: 0.7057755526203714

In [ ]:
df1 = df1[(df1['TP_PRESENCA_CN'] == 1) & (df1['TP_PRESENCA_CH'] == 1)  & 
    (df1['TP_PRESENCA_LC'] == 1) & (df1['TP_PRESENCA_MT'] == 1) & (df1['TP_STATUS_REDACAO'] == 1)]

In [ ]:
df1.drop(columns=['TP_PRESENCA_CN','TP_PRESENCA_CH','TP_PRESENCA_LC','TP_PRESENCA_MT','TP_STATUS_REDACAO'],inplace = True)

* Também será eliminado as linhas que as notas das provas tiverem algum dado faltante.

In [ ]:
col = ['NU_NOTA_CN','NU_NOTA_CH','NU_NOTA_LC','NU_NOTA_MT','NU_NOTA_REDACAO']

In [ ]:
df1[col].isna().sum(axis = 0)

NU_NOTA_CN         0
NU_NOTA_CH         0
NU_NOTA_LC         0
NU_NOTA_MT         0
NU_NOTA_REDACAO    0
dtype: int64

### <a name="secao_3.2"> 3.2 Segunda exclusão de dados </a>.


* Uma variável de grande importância é a TP_DEPENDENCIA_ADM_ESC já que ela indica que ela indica se a escola é estadual ou particular por exemplo. Isso é um indício da estrutura do colegio que pessoa estudou já que colegios particulares tendem a investir mais na suas infraesturas.
 
* Por esse motivo, se os dados faltantes desta informação não tiverem uma maneira de recuperar eles serão descartados.

In [ ]:
print('Numero de dados faltantes em  TP_DEPENDENCIA_ADM_ESC :',df1['TP_DEPENDENCIA_ADM_ESC'].isna().sum(axis = 0))

Numero de dados faltantes em  TP_DEPENDENCIA_ADM_ESC : 2674795

* Uma meneira de recuperar essa informação é atravez do nome da escola e onde ela reside.

In [ ]:
col = ['NO_MUNICIPIO_ESC','TP_DEPENDENCIA_ADM_ESC']

In [ ]:
print('Número de dados faltantes nas mesmas colunas CO_ESCOLA NO_MUNICIPIO_ESC','TP_DEPENDENCIA_ADM_ESC :',np.sum(df1[col].isna().sum(axis = 1) == 3))

Número de dados faltantes nas mesmas colunas CO_ESCOLA NO_MUNICIPIO_ESC TP_DEPENDENCIA_ADM_ESC : 0

* Pelos resultados obtidos não tem como recuperar os dados faltantes de TP_DEPENDENCIA_ADM_ESC, por esse motivo todos eles serão excluídos.

In [ ]:
df1 = df1[df1['TP_DEPENDENCIA_ADM_ESC'].isna() == 0]

In [ ]:
#df1.drop(columns=['CO_ESCOLA'],inplace = True)

### <a name="secao_3.3"> 3.3 Terceira exclusão de dados </a>.
* Será excluído agora as variáveis que só tem uma única  classe.

In [ ]:
for i in range(df1.shape[1]):
  print(df1.columns[i],len(np.unique(df1[df1.columns[i]])))

TP_SEXO 2
TP_COR_RACA 6
TP_ST_CONCLUSAO 1
TP_ANO_CONCLUIU 1
IN_TREINEIRO 1
CO_ESCOLA 29487
NO_MUNICIPIO_ESC 5271
CO_UF_ESC 27
SG_UF_ESC 27
TP_DEPENDENCIA_ADM_ESC 4
NU_NOTA_CN 4405
NU_NOTA_CH 4478
NU_NOTA_LC 3914
NU_NOTA_MT 5831
NU_NOTA_REDACAO 49
Q001 8
Q002 8
Q005 20
Q006 17
Q024 5
Q025 2

In [ ]:
# deletar colunas com uma unica classe
col = ['TP_ST_CONCLUSAO','TP_ANO_CONCLUIU','IN_TREINEIRO']
df1.drop(columns=col,inplace = True)

### <a name="secao_3.4"> 3.4 Quarta exclusão de dados </a>.



* Dados faltantes

In [ ]:
print('Colunas com dados faltantes :',df1.columns[df1.isna().sum(axis = 0)>0])

Colunas com dados faltantes : Index([], dtype='object')

### <a name="secao_3.5"> 3.5 Quinta exclusão de dados </a>.

* Como objetivo é comparar o impacto de fatores sociais e econômicos na nota do enem, os alunos que não quiserem divulgar essas informações serão excluídas do conjunto de dados.

In [ ]:
# 'Q001'
# H representa o aluno que não sabe a escolaridade do pai
df1 = df1[df1['Q001'] != 'H']
# 'Q002'
# H representa o aluno que não sabe a escolaridade do mae
df1 = df1[df1['Q002'] != 'H']
# 'Q006'
# O valor é de pessoas que não optaram por coloca sua renda
df1 = df1[df1['Q006']!=0]
# TP_COR_RACA
# Reça não declarada
df1 = df1[df1['TP_COR_RACA'] != 0]

# <a name="secao_4.0"> 4.0 Remapeamento das classes </a>.


### <a name="secao_4.1"> 4.1  Cor/raça

* A junção das pessoas com cor/raça preta e parda é classificada pelo ibge como negra e estudos mostram que 75 % deles estão entre os mais pobres que moram na região de periferia. Para evidenciar este fator as pessoas com cor/raça preta e parda serão transformadas como negras.


* Refêrancia: 

  * https://noticias.uol.com.br/cotidiano/ultimas-noticias/2019/11/13/percentual-de-negros-entre-10-mais-pobre-e-triplo-do-que-entre-mais-ricos.htm

In [ ]:
# O número 10 será declarada como cor\raça preta
df1['TP_COR_RACA'][df1['TP_COR_RACA'] == 2] = 6
df1['TP_COR_RACA'][df1['TP_COR_RACA'] == 3] = 6

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [ ]:
dados = np.unique(df1['TP_COR_RACA'])

In [ ]:
for i in range(len(dados)):
  print('Classe ',dados[i],':',np.sum(df1['TP_COR_RACA'] == dados[i])/df1.shape[0])

Classe  1 : 0.40934209308781344
Classe  4 : 0.022498997563307734
Classe  5 : 0.005765398969803523
Classe  6 : 0.5623935103790753

* As classes 6 e 1 apresentaram a maior porcentagem dos dados sendo que a diferença entre essas duas para as demais são alarmantes. Por esse motivo elas serão reagrupadas nas demais classes.
 
* A classe Indígena será agrupada na classe de cor/raça Preta devido que existe estudo do ibge que trata elas como iguais.
 
* A classe amarela se trata da asiática e por aparência elas se assemelham mais a cor/raça branca eles serão agrupados nessa classe.

In [ ]:
df1['TP_COR_RACA'][df1['TP_COR_RACA'] == 5] = 6
df1['TP_COR_RACA'][df1['TP_COR_RACA'] == 4] = 6

df1['TP_COR_RACA'][df1['TP_COR_RACA'] == 6] = 0
df1['TP_COR_RACA'][df1['TP_COR_RACA'] == 6] = 0

* O remapeamento :  
  * 0 -> Cor e raça preta
  * 1 -> Cor e raça branca

### <a name="secao_4.2"> 4.2  Renda familiar

* Legenda dos metadados do enem:

  * A - > Nenhuma renda.
  
  * B - > Até 998,00.

  * C - > De 998,01 até 1.497,00.
  * D - > De 1.497,01 até  1.996,00.
  * E - > De 1.996,01 até  2.495,00.
  * F - > De 2.495,01 até 2.994,00.
  * G - > De 2.994,01 até 3.992,00.
  * H - > De 3.992,01 até 4.990,00.
  * I - > De 4.990,01 até 5.988,00.
  * J - > De 5.988,01 até 6.986,00.
  * K - > De 6.986,01 até 7.984,00.
  * L - > De 7.984,01 até 8.982,00.
  * M - > De 8.982,01 até 9.980,00.
  * N - > De 9.980,01 até 11.976,00.
  * O - > De 9.980,01 até 11.976,00.
  * P - > De 14.970,01 até 19.960,00.
  * Q - > Mais de 19.960,00. 

* Os valores da legenda serão substituídos pelo valor médio do seu intervalo.

In [ ]:
df1['Q006'] = df1['Q006'].map({'A': 0   ,'B':499  ,'C':1247  ,
                               'D':1746 ,'E':2245 ,'F':2744  ,
                               'G':3493 ,'H':4491 ,'I':5489  ,
                               'J':6487 ,'K':7485 ,'L':8483  ,
                               'M':9481 ,'N':10978,'O':13473 ,
                               'P':17465,'Q':20000})

### <a name="secao_4.3"> 4.3  Escolaridade dos pais

* Legenda dos metadados do enem:

  * A - > Nunca estudou.
  * B - > Não completou a 4ª série/5º ano do Ensino Fundamental.
  * C - > Completou a 4ª série/5º ano, mas não completou a 8ª série/9º ano do Ensino Fundamental.
  * D - > Completou a 8ª série/9º ano do Ensino Fundamental, mas não completou o Ensino Médio.
  * E - > Completou o Ensino Médio, mas não completou a Faculdade.
  * F - > Completou a Faculdade, mas não completou a Pós-graduação.
  * G - > Completou a Pós-graduação.

In [ ]:
np.unique(df1['Q001'])

array(['A', 'B', 'C', 'D', 'E', 'F', 'G'], dtype=object)

In [ ]:
df1['Q001'] = df1['Q001'].map({'A': 0, 'B': 1,'C':2, 'D':3.5,'E':4,
                              'F':5.5,'G':6})

df1['Q002'] = df1['Q002'].map({'A': 0, 'B': 1,'C':2, 'D':3.5,'E':4,
                              'F':5.5,'G':6})

In [ ]:
df1.head()

   TP_SEXO  TP_COR_RACA   CO_ESCOLA  NO_MUNICIPIO_ESC  ...  Q005  Q006  Q024  Q025
26       F            1  41026039.0         Apucarana  ...     2  2245     B     B
28       F            1  43013945.0          Alvorada  ...     3     0     B     A
31       F            0  35006713.0   Mogi das Cruzes  ...     3   499     A     B
34       M            0  29398673.0  Lauro de Freitas  ...     2   499     A     B
53       M            0  25099159.0        Santa Rita  ...     4  1247     A     B

[5 rows x 18 columns]

### <a name="secao_4.4"> 4.4  Computador e internet.

* Legenda do Q025:

  * A - > Não
  * B - > Sim

* Legenda do Q024:

  * A - > Não.
  * B - > Sim, um.
  * C - > Sim, dois.
  * D - > Sim, três.
  * E - > Sim, quatro ou mais.

In [ ]:
# Vendo se todas as pessoas que tem computador tem acesso a internet
print('Número de pessoas que tem acesso a internet e ao computador:',np.sum((df1['Q025'] == 'B') & (df1['Q024'] != 'A')))
# 
print('Número de pessoas que tem acesso a internet e ao computador:',np.sum((df1['Q025'] != 'A')))

Número de pessoas que tem acesso a internet e ao computador: 428761
Número de pessoas que tem acesso a internet e ao computador: 645439

* Sera criado uma variável onde vai ter as seguintes classes:

  * 0 -> A pesssoa não tem internet nem computador
  * 1 -> A pessoa so tem computador
  * 2 -> A pessoas tem computador e internet

* Essa nova classe será chamada de Q026

In [ ]:
np.unique(df1['Q024'])

array(['A', 'B', 'C', 'D', 'E'], dtype=object)

In [ ]:
df1['Q024'] = df1['Q024'].map({'A': 0, 'B': 1,'C':1, 'D':1,'E':1})
df1['Q025'] = df1['Q025'].map({'A': 0, 'B': 1})

In [ ]:
df1['Q026'] = df1['Q024'] + df1['Q025']

In [ ]:
col = ['Q024','Q025']
df1.drop(columns=col,inplace = True)

### <a name="secao_4.5"> 4.5  Nota média.


* As análises serão avaliadas de acordo com a nota media

In [ ]:
col = ['NU_NOTA_CN','NU_NOTA_CH','NU_NOTA_LC','NU_NOTA_MT','NU_NOTA_REDACAO']

In [ ]:
col

['NU_NOTA_CN', 'NU_NOTA_CH', 'NU_NOTA_LC', 'NU_NOTA_MT', 'NU_NOTA_REDACAO']

In [ ]:
df1['Nota_media'] = np.mean(df1[col],axis = 1) # dados de 

# para impedir o vazamento de dados as notas das provas seram excluidas

In [ ]:
df1.head()

   TP_SEXO  TP_COR_RACA   CO_ESCOLA  ... Q024  Q025 Nota_media
26       F            1  41026039.0  ...    B     B     722.58
28       F            1  43013945.0  ...    B     A     477.44
31       F            0  35006713.0  ...    A     B     498.76
34       M            0  29398673.0  ...    A     B     614.34
53       M            0  25099159.0  ...    A     B     422.28

[5 rows x 19 columns]


# <a name="secao_5"> 5  Salvando os novos dados.

In [ ]:
df1.to_csv('/content/drive/My Drive/desafio semantix/dados1.csv',sep=';' ,encoding='iso-8859-1', index = False)